	#map {
		height: 750px;
		width: 100%;
	}

	#maps-rechercher{
    	margin-bottom: 100px;
    	height: 60px;
	}

	.titre{
	    color: $black;
	    font-size: 50px;
	    line-height: 50px;
	    margin-bottom: 25px;
	    font-weight: 400;
	}

	.gm-style-iw {
		width: 350px !important;
		//height: 265px !important;
		top: 15px !important;
		left: 0px !important;
		background-color: #fff;
		box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	}

	#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
	}

	#pac-input:focus {
	border-color: #4d90fe;
	}

	#iw-container{
		width: 350px;
		margin-bottom: 10px;
	    .iw-title {
			font-family: 'Open Sans Condensed', sans-serif;
			font-size: 22px;
			font-weight: 400;
			padding: 10px;
			background-color: #20A9B4;
			color: white;
			margin: 0;
			border-radius: 2px 2px 0 0;
		}	    
		.iw-content{
			font-size: 13px;
		    line-height: 18px;
		    font-weight: 400;
		    padding: 15px;
		    //max-height: 220px;
		    overflow-y: hidden;
		    overflow-x: hidden;
			.iw-subTitle {
				font-size: 16px;
				font-weight: 700;
				padding: 5px 0;
			}
			.iw-bottom-gradient {
				position: absolute;
				width: 326px;
				height: 25px;
				bottom: 10px;
				right: 18px;
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			}
		    .imgBienMarker{
				float: right;
				margin-top: 5px;
			}
			.icon-pays{
				max-height: 18px;
			}
			p{
				min-width: 350px;
			}
		}
	}